Temp/*
Library/*


.csproj
.unityproj
.sln
.user
.userprefs
.DS_store
Library/

\.vs/

ProjectSettings/ProjectVersion\.txt

3dplatformer\.csproj

3dplatformer\.Editor\.csproj

3dplatformer\.Editor\.Plugins\.csproj

3dplatformer\.Plugins\.csproj

3dplatformer\.sln

project-gg\.csproj

project-gg\.Editor\.Plugins\.csproj

project-gg\.Plugins\.csproj

project-gg\.sln

*.csproj

*.sln
